* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.item-layout img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    height: 250px;
    flex-shrink: 0;
}

img.img-big {
    height: auto;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;    
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    grid-template-areas: 
    "h1 h2 h3"
    "h1 h4 h5";
}

.item-layout {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;

}

.item-layout:first-child {
    grid-area: h1;
}

.item-layout:nth-child(2) {
    grid-area: h2;
}

.item-layout:nth-child(3) {
    grid-area: h3;
}

.item-layout:nth-child(4) {
    grid-area: h4;
}

.item-layout:nth-child(5) {
    grid-area: h5;
}

.title-post {
    font-size: 1.5rem;
    padding: 20px  0;
    background-color: #ccc;
    flex: 1;
}